<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>868342384355-3pvos18t6h7b33vnj1l79r8q64e4qfcp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.868342384355-3pvos18t6h7b33vnj1l79r8q64e4qfcp</string>
	<key>API_KEY</key>
	<string>AIzaSyBrtPvRn7hy_onqnoDJN0L1Sx7CwnhoCmY</string>
	<key>GCM_SENDER_ID</key>
	<string>868342384355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.erkutbas.selfLoginTest</string>
	<key>PROJECT_ID</key>
	<string>self-login-test</string>
	<key>STORAGE_BUCKET</key>
	<string>self-login-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:868342384355:ios:44508437a8ca9101</string>
	<key>DATABASE_URL</key>
	<string>https://self-login-test.firebaseio.com</string>
</dict>
</plist>